<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>AppList</title>
</head>

<body>

    <div th:fragment="head">
        <!DOCTYPE html>
        <html xmlns:th="http://www.thymeleaf.org">

        <head>
            <meta charset="UTF-8">
            <title>Añadir Nuevo</title>
            <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">

        </head>
    </div>

    <!-- Contenido específico que se insertará en la sección principal -->
    <div th:fragment="titulo">
        <header class="py-4">
            <h1 class="text-4xl sm:text-4xl md:text-4xl lg:text-4xl font-bold">Bienvenido a nuestra aplicación</h1>
        </header>
    </div>

    <div th:fragment="btnNuevo">
        <div class="py-7 flex justify-center">
            <a class="flex items-center w-full md:w-auto py-3 px-6 md:py-4 md:px-8 lg:py-5 lg:px-10 rounded-lg bg-green-500 font-sans text-xs font-bold uppercase text-white shadow-md shadow-green-500/20 transition-all hover:shadow-lg hover:shadow-green-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
                data-ripple-light="true" th:href="@{/add}">
                <span class="mx-auto">Nuevo Registro</span>
            </a>
        </div>
    </div>

    <div th:fragment="btnVolver">
        <div class="py-7 flex justify-center">
            <a class="flex items-center w-full md:w-auto py-3 px-6 md:py-4 md:px-8 lg:py-5 lg:px-10 rounded-lg bg-blue-500 font-sans text-xs font-bold uppercase text-white shadow-md shadow-green-500/20 transition-all hover:shadow-lg hover:shadow-green-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
                data-ripple-light="true" th:href="@{/}">
                <span class="mx-auto">Volver a Inicio</span>
            </a>
        </div>
    </div>

    <div th:fragment="btnGuardar">
        <div class="py-7 flex justify-center">
            <button
                class="flex items-center w-full md:w-auto py-3 px-6 md:py-4 md:px-8 lg:py-5 lg:px-10 rounded-lg bg-green-500 font-sans text-xs font-bold uppercase text-white shadow-md shadow-green-500/20 transition-all hover:shadow-lg hover:shadow-green-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
                data-ripple-light="true" type="submit"><span class="mx-auto">Guardar</span></button>
        </div>
    </div>

    <!-- <div th:fragment="dangerAlert">
        <div class="container mx-auto my-5">
            <div
                class="hover:red-yellow-500 w-full mb-2 select-none rounded-l-lg border-l-4 border-red-400 bg-red-100 p-4 font-medium">
                Hubo un error</div>

        </div>
    </div>

    <div th:fragment="successAlert">
        <div class="container mx-auto my-5">
            <div
                class="w-full mb-2 select-none rounded-l-lg border-l-4 border-green-400 bg-green-100 p-4 font-medium hover:border-green-500">
                Registro realizado
            </div>
        </div>
    </div> -->

</body>

</html>